@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
nav{
    background-color: blueviolet;
    color: whitesmoke;
    font-size: 7vh; 
}
nav ul li{
    padding: 0.5em; 
    list-style: none;
}
.vertical-line{
    border-bottom: 3px solid black;
}
.horizontal-line{
    border-right: 3px solid black;
}
.winner{
    background-color: antiquewhite;
    color: green;
}
.gameContainer{
    height: 450px;
    width: 450px;
    /* background-color: aqua; */
    display: flex;
    margin: 10vh auto;
    flex-wrap: wrap;
}
.tile{
    height: 147px;
    width: 147px;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}